# Исключаем конфигурации PyCharm
.idea/

# Исключаем кеши pytest
.pytest_cache/

# Исключаем виртуальные окружения
venv/
Lib/
include/
Scripts/

# Исключаем кэш Python
__pycache__/

# Исключаем файлы логов и тестов (если не нужны в контейнере)
*.log
#tests/

# Исключаем файлы конфигурации тестов
test_config.yaml

# Исключаем любые другие ненужные файлы
*.pyc
*.pyo
.DS_Store


